/* FONT-FACE DECLARATIONS */
@font-face {
    font-family: "AptosBlack";
    src: url("IMPORT FILES/FONTAptosBlack.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "InterBold";
    src: url("IMPORT FILES/FONTInterBold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }